body{
    background-color: #0292d4;
    margin-left: 20px;
    margin-right: 20px;
}

hr{
    margin-left:30px;
    margin-right:30px;
    background-color: black;
}


.is1{
    
    border: 5px solid rgb(131, 131, 131);
    border-radius: 10px;
    height: 500px;
    width:600px;
    
}

.is2{
    
    border: 5px solid rgb(131, 131, 131);
    border-radius: 10px;
    height: 500px;
    width:630px;
  
}

.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 10px;
   
}

.ss{
    background-color: lightskyblue;
    padding: 10px;
}

#sbt{
    width:fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #76d4ff;
    
}

#lbt{
    width:fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #76d4ff;
    
}

#sbt:hover{
    border-radius: 5px;
    background-color: #004667;
}

#lbt:hover{
    border-radius: 5px;
    background-color: #004667;
}

